<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
        {% block title %}{% endblock %}
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/mapper">Mapper <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/widal001/ejscreen-demo" target="_blank">Source Code</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="page-content">
        {% block content %}{% endblock %}
      </div>
      {% block scripts %}
          <!-- Optional JavaScript -->
          {{ bootstrap.load_js() }}
      {% endblock %}

      <footer class="container">
        <p>&copy; EJScreen Demo {{ now.year }}</p>
      </footer>

    </body>
</html>
