{% extends "base.html" %}
{% block title %}<title>Start an Audit</title>{% endblock %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">EJScreen Demo</h1>
      <p>This open source project replicates most of the functionality of the EPA's EJSCREEN mapping tool with an updated look and feel. It also provides machine readable access to the underlying data through a REST API.</p>
      <p><a class="btn btn-primary btn-lg" href="/mapper" role="button" target="_blank">Start mapping &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 d-flex flex-column">
        <h2>Original Tool</h2>
        <p>The core feature set and underlying data for this project were sourced from the Environmental Justice Screening and Mapping Tool. To learm more about the original tool and how it was made, visit the EPA's website.</p>
        <p class="mt-auto"><a class="btn btn-secondary" href="https://www.epa.gov/ejscreen" target="_blank" role="button">View tool</a></p>
      </div>
      <div class="col-md-4 d-flex flex-column">
        <h2>API Docs</h2>
        <p><b>COMING SOON: </b>In order to provide clearer guidance on how to access the underlying data for this demo in a machine readable format, we are in the process of documenting our REST API using the <a href="https://swagger.io/specification/" target="_blank">OpenAPI Specification</a></p>
        <p class="mt-auto"><a class="btn btn-secondary" href="#" role="button">View docs</a></p>
      </div>
      <div class="col-md-4 d-flex flex-column"">
        <h2>Source Code</h2>
        <p>This tool and the code that powers it are open source. To ask us a question, contribute to the project, or just learn more about how it was implemented, please visit the project repository on GitHub.</p>
        <p class="mt-auto"><a class="btn btn-secondary" href="https://github.com/widal001/ejscreen-demo" target="_blank" role="button">View code</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}
